body {
  font-family: 'Roboto Condensed', serif;
}

.user {
  padding: 7px 15px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  background: #EE92C2;
  margin: 10px 0;
}

.guest {
  background: #F0C987;
  color: white;
}

.logo-navbar {
  margin: 20px;
}

.logo {
  margin-left: 20px;
}

.container-fluid{
  height: 100%;
}

.main-container {
  margin: 10px;
  min-height: 85%;
  height: 85%;
}

.bottom-bar {
  min-height: 5%;
  height: 5%;
}

.whiteboard-container{
  min-height: 100%;
}
.whiteboard{
  min-height: 100%;
}


.tools{
  display: flex;
  flex-wrap: wrap;
}

.tool{
  flex: 1 0 18%;
  margin-top: 10px;
}
